[submodule "var/opt/microsoft-visual-c-152c"]
	path = var/opt/microsoft-visual-c-152c
	url = https://intranet.pdinc.us/git/microsoft-visual-c-152c
[submodule "var/opt/cpptest-code"]
	path = var/opt/cpptest-code
	url = https://github.com/pdinc-oss/cpptest.git
[submodule "var/opt/gcovr"]
	path = var/opt/gcovr
	url = https://github.com/pdinc-oss/gcovr.git
	branch = ciphershed-patch
