#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export TC_EXTRA_CFLAGS = $(CPPFLAGS) $(CFLAGS)
export TC_EXTRA_CXXFLAGS = $(CPPFLAGS) $(CXXFLAGS)
export TC_EXTRA_LFLAGS = $(LDFLAGS)

%:
	dh  $@ --sourcedirectory=src

override_dh_auto_build:
	dh_auto_build -- VERBOSE=1 NOSTRIP=1
	convert -resize 32x32 src/Resources/Icons/CipherShed-48x48.xpm ciphershed.xpm

override_dh_clean:
	dh_clean user_guide.pdf ciphershed.xpm

override_dh_install:
	cp doc/userdocs/guide/CipherShed-User-Guide*.pdf user_guide.pdf
	dh_install

override_dh_installinit:
	dh_installinit --no-start -- stop 10 0 1 6 .

override_dh_compress:
	dh_compress -Xuser_guide.pdf
