# gcc lint
*.o
*.d
*.a

*.gcno
*.gcov
*.gcda

# https://raw.githubusercontent.com/github/gitignore/master/VisualStudio.gitignore
# VS Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# VS Build Results of an ATL Project
*_i.c
*.tlb

# VS C++ cache files
*.ncb
*.aps

# VS User-specific files
*.suo
*.user

/Boot/Windows/Release/
/Boot/Windows/Release Loader/
/Boot/Windows/Release_AES/
/Boot/Windows/Release_Serpent/
/Boot/Windows/Release_Twofish/
/Boot/Windows/Rescue/
/Boot/Windows/Rescue_AES/
/Boot/Windows/Rescue_Serpent/
/Boot/Windows/Rescue_Twofish/
/Common/build_driver_debug.log
/Common/build_driver_release.err
/Common/build_driver_release.log
/Common/build_driver_release.wrn
/Common/build_errors.log
/Common/Language.xml.h
/Common/obj_driver_debug/
/Common/obj_driver_release/
/Common/Textual_logo_96dpi.bmp.h
/Crypto/obj_driver_debug/
/Crypto/obj_driver_release/
/Crypto/build_driver_*.*
/Crypto/build_errors.log
/Driver/obj_driver_debug/
/Driver/obj_driver_release/
/Driver/build_*.log
/Driver/build_*.err
/Format/FormatCom_h.h
/Format/CipherShed_Wizard.bmp.h
/License.txt.h
/Main/SystemPrecompiled.h.gch
/Main/ciphershed
/Mount/Drive_icon_96dpi.bmp.h
/Mount/Drive_icon_mask_96dpi.bmp.h
/Mount/Logo_96dpi.bmp.h
/Mount/MainCom_h.h
/TestResults/
