*.o
*.d
*.a
/*/Debug/
/*/Release/
/Common/Language.xml.h
/Common/Textual_logo_96dpi.bmp.h
/Format/TrueCrypt_Wizard.bmp.h
/License.txt.h
/Main/SystemPrecompiled.h.gch
/Main/truecrypt
/Mount/Drive_icon_96dpi.bmp.h
/Mount/Drive_icon_mask_96dpi.bmp.h
/Mount/Logo_96dpi.bmp.h
*.vcproj.*.user
*.ncb
*.suo
*.tlb
/Release
/Debug
/Setup/Debug/
/Setup/Release/
/License.txt.h
/Mount/Debug/
/Mount/Drive_icon_96dpi.bmp.h
/Mount/Drive_icon_mask_96dpi.bmp.h
/Mount/Logo_96dpi.bmp.h
/Mount/MainCom_h.h
/Mount/MainCom_i.c
/Mount/Release/
/Main/SystemPrecompiled.h.gch
/Format/Debug/
/Format/FormatCom_h.h
/Format/FormatCom_i.c
/Format/Release/
/Driver/Debug/
/Driver/Release/
/Driver/obj_driver_debug/
/Driver/obj_driver_release/
/Crypto/Debug/
/Crypto/Release/
/Crypto/obj_driver_debug/
/Crypto/obj_driver_release/
/Boot/Windows/Release/
/Boot/Windows/Release_AES/
/Boot/Windows/Release_Serpent/
/Boot/Windows/Release_Twofish/
/Boot/Windows/Rescue/
/Boot/Windows/Rescue_AES/
/Boot/Windows/Rescue_Serpent/
/Boot/Windows/Rescue_Twofish/
/Common/build_driver_debug.log
/Common/build_driver_release.log
/Common/obj_driver_debug/
/Common/obj_driver_release/
/Common/Language.xml.h
/Common/Textual_logo_96dpi.bmp.h
/Common/build_driver_release.err
/Common/build_driver_release.wrn
/Common/build_errors.log
/LocalTestRun.testrunconfig
/TestResults/
